<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Category.css">
    <title>Category</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="/category">Categories</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>

        <main class="content">
            <header>
                <h1>Products</h1>
            </header>

            <section id="products">
                <h2>Product</h2>
            
     

                <button class="add-category-btn" id="search-btn">Search Product by ID</button>
                

                
                <form id="search-form" class="category-form" action="/products" method="GET" onsubmit="updateActionUrl(event)">
                    <div class="form-group">
                        <label for="product-id">Enter Product ID:</label>
                        <input type="number" id="id" name="id" required placeholder="Product ID">
                    </div>
                    <button type="submit" class="submit-btn">Search</button>
                </form>

            </section>
            
            <section id="result">
                <% if (product) { %>
                    <h3>Search Result:</h3>
                    <p><strong>Product Name:</strong> <%= product.Product_name %></p>
                    <p><strong>Product Description: </strong> <%= product.Product_description %></p>
                    <p><strong>Product Price: $</strong> <%= product.Product_price %></p>
                    <p><strong>Product Quantity:</strong> <%= product.Product_quantity %></p>
                    <p><strong>Category:</strong> <%= categories.Category_name %></p>
                    <p><strong>Created At:</strong> <%= product.createdAt %></p>
                    <p><strong>Last Update:</strong> <%= product.updatedAt %></p>

                    <p><strong>Total Value:</strong> <%= totalValue %></p>
                    
                    <button class="submit-btn"><a href="/products/updateProduct/<%= product.Product_id %>">Update Product</a></button>
                    <button class="submit-btn"><a href="/products/deleteProduct/<%= product.Product_id %>">Delete Product</a></button>
                <% } else if (typeof product === 'undefined') { %>
                    
                <% } else { %>
                    <p>No product found with the given ID.</p>
                <% } %>
            </section>
        </main>
    </div>

    <script>
        const searchBtn = document.getElementById('search-btn');
        const searchForm = document.getElementById('search-form');


        searchBtn.addEventListener('click', () => {
            if (searchForm.style.display === 'none') {
                searchForm.style.display = 'block';
            } else {
                searchForm.style.display = 'none';
            }
        });
    </script>

<script>
    function updateActionUrl(event) {
        event.preventDefault();
        const productId = document.getElementById('id').value;
        const form = document.getElementById('search-form');
        form.action = `/products/${productId}`;
        form.submit(); 
    }
</script>
</body>
</html>
